{% extends "main.html" %}
{% block content %}
  <!-- The content of the `navigationbar.html` file will be included here -->
  {% include "navigationbar.html" %}

  <!-- display all items of this category -->
  <div class="list-group pmd-z-depth pmd-list pmd-card-list mb">
    {% for item in items %}
      <a class="list-group-item" href="{{ url_for('show_item', category_name=category, item_name=item.title) }}">
        {{ item.title }}
      </a>
    {% endfor %}
  </div>

  <!-- Show the floating button only if the user is logged in. -->
  {% if session.logged_in %}
    <!-- Floating Action Button like Google Material -->
    <!-- see: http://propeller.in/docs/floating-button.php -->
    <div class="menu pmd-floating-action" role="navigation">
      <a class="pmd-floating-action-btn btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-warning floating-btn-custom" data-title="Add" href="{{ url_for('add_item', category_name=category) }}">
        		<span class="pmd-floating-hidden">Primary</span>
        		<i class="material-icons pmd-sm">add</i>
        	</a>
    </div>
  {% endif %}
{% endblock %}
