{% extends "main.html" %}
{% block content %}
  <!-- The content of the `navigationbar.html` file will be included here -->
  {% include "navigationbar.html" %}

  <!-- Card -->
  <div class="pmd-card pmd-card-default pmd-z-depth pmd-card-custom-form">
      <div class="pmd-card-title">
          <h2 class="pmd-card-title-text">{{ item.title }}</h2>
      </div>
      <div class="pmd-card-body"> {{ item.description }} </div>
  </div>

  <!-- Show the floating button only if the user is logged in. -->
  {% if session.logged_in %}
    {% include "floating_button.html" %}
  {% endif %}

{% endblock %}
