<!DOCTYPE html>

<!-- This file is a Jinja2 template.
A template contains so called `variables` and/or `expressions`, which get
replaced with values when a template is rendered.
see: http://jinja.pocoo.org/docs/2.9/templates/ -->

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Catalog App</title>

    <!-- This website uses the Bootstrap and Propeller (https://propeller.in) frameworks -->
    <!-- TODO add more documentation -->

    <!-- Bootstrap css-->
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!--Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Propeller css -->
    <link href="{{ url_for('static', filename='css/propeller.min.css') }}" rel="stylesheet">

    <!-- Custom css -->
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <!-- To generate URLs for static files, use the special 'static' endpoint name: -->

    {% block head %}
    <!-- Children of this template can override this part of this template -->
    <!-- This is called 'template inheritance' and is propably the most powerful part of Jinja.
    see: http://jinja.pocoo.org/docs/2.9/templates/#template-inheritance -->
    {% endblock %}
  </head>

  <body>

    <div class="container">
      {% block content %}
      <!-- 'template inheritance' again ... Children can/will override this part -->
      {% endblock %}
    </div>

    <!-- jQuery before Propeller.js -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
	  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/propeller.min.js') }}"></script>
  </body>
</html>
