<nav class="navbar navbar-default navbar-fixed-top pmd-navbar pmd-z-depth">
  <div class="container-fluid">

    <a href="javascript:void(0);" class="navbar-brand">{{ page_heading }}</a>

    <ul class="nav navbar-nav pull-right">
      <li>
        {% if session.logged_in %}
          <a class="pmd-ripple-effect" href="{{ url_for('logout') }}">Sign-out</a>
        {% else %}
          <a class="pmd-ripple-effect" href="{{ url_for('login') }}">Sign-in</a>
        {% endif %}
      </li>
    </ul>
  </div>
</nav>
